@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300&family=Roboto&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Kanit', sans-serif;
}

body {
    background-color: #f4f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

.container {
    /* align-items: center; */
}

.btn {
    color: #fff;
    background-color: orange;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 12px;
}

.money-img {
    width: 215px;
}

.currency {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency select,
input {
    padding: 10px 20px 10px 10px;
    border: 1px solid #dedede;
    font-size: 20px;
    color: #000;
    background: transparent;
}

.currency input {
    text-align: right;
}

.swap-container {
    display: flex;
    justify-content: space-between;
}

.swap-container .rate {
    font-size: 20px;
    padding: 0 10px;
}

.swap-container button {
    margin-right: px;
    font-size: 20px;
}

select:focus,
input:focus,
button:focus {
    outline: 0;
}